.github-link
  %a{:href=>"https://github.com/lorentrogers/Brain-Clock"}
    =image_tag "https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png", :alt=>"Fork me on GitHub"
.clock-header
  %h1 BRAIN CLOCK!
.clock
  %canvas{:id=>"canvas", :width => "500", :height => "500"}
    Sorry... This app requres an HTML 5 browser... Try Chrome!
